/* -- RESET CSS -- */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
html {background: #F1F1F1;}
body {background: #F1F1F1;}
.fullScreenBlank {position:absolute; width:100%; height:100%; background-image:url('../images/backgrounds/backgroundBlank.png');background-repeat:no-repeat;background-position:left bottom;}
.fullScreenLeft {position:absolute; width:100%; height:100%; background-image:url('../images/backgrounds/backgroundLeft.png');background-repeat:no-repeat;background-position:left bottom;}
.fullScreenRight {position:absolute; width:100%; height:100%; background-image:url('../images/backgrounds/backgroundRight.png');background-repeat:no-repeat;background-position:left bottom;}

.twoby {width:40%; margin:5%; height:105px; float:left; background-size: 100%; display:table;}
#LandingPageView .frontMenu { color:#000; margin-top: -10px; margin-bottom: -10px;}


.twoby img.wide {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}
.twoby img.tall {
    max-height: 100%;
    max-width: 100%;
    width: auto;
}

.km-android .km-view .km-content {color:#000; background-color: #F1F1F1; background:#F1F1F1;}
.km-ios .km-view .km-content {color:#000; background-color: #F1F1F1;}
.km-ios .km-view .km-navbar {background: url(../images/navbar/header.png);height:42px ;-webkit-box-shadow: -1px 2px 4px 1px #575757;} /*NOTICE THE SHADOW EFFECT   Left ,Top ,Blur Dist, Spread Dist */ 

/* --- SELECT BOX --- */
select {
    border: 1px solid #800000;
    background: transparent;
    border-radius: 5px;
    color: #800000;
    width: 240px;
    height:30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 2px 2px 2px 10px;
    background: transparent url("../images/down_arrow.png") no-repeat 210px center;
}

/* -- KENDO BUTTON OVERRIDE -- */
.km-android .km-view .km-navbar  {
    height:0;
}
.km-android .km-view .km-content {
    background-color: rgb(255, 255, 255);
}
.km-ios .km-view .km-navbar .km-button.km-state-active .km-text {
     color:#FFF; 
}
.km-ios .km-view .km-navbar .km-button .km-text {
    color:#FFF; 
}

.km-ios .km-view .km-navbar .km-button.km-state-active {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #800000), color-stop(49%, #800000), color-stop(50%, #800000), color-stop(100%, #800000));
}
.km-ios .km-view .km-navbar .km-button.km-state-active:before {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #800000), color-stop(49%, #800000), color-stop(50%, #800000), color-stop(100%, #800000));
}
.km-ios .km-view .km-navbar .km-button {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b91a10),color-stop(49%, #a8190f), color-stop(50%, #a8190f), color-stop(100%, #8e1810)); border-top: 1px solid #581208; border-bottom: 1px solid #581208; border-left: 0px solid rgba(0, 0, 0, 0.5); border-right: 1px solid rgba(0, 0, 0, 0.5);;
}
.km-ios .km-view .km-navbar .km-button:before {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b91a10),color-stop(49%, #a8190f), color-stop(50%, #a8190f), color-stop(100%, #8e1810)); border-top: 1px solid #581208; border-bottom: 1px solid #581208; border-left: 1px solid rgba(85, 15, 7, 0.5); border-right: 1px solid rgba(0, 0, 0, 0.5);;
}

.km-android .select {
    border: 1px solid #800000;
    background: transparent;
    border-radius: 5px;
    color: #FFF;
    width: 240px;
    height:30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 2px 2px 2px 10px;
    background: transparent url("../images/down_arrow.png") no-repeat 210px center;
}
.km-android .selectStyle{
    margin-top: 20px;
    background:#800000;
    width: 240px;
    height:30px;
}