.pContainer{
width:98%; height: 100px; border: 1px solid #800000;
margin-left:auto; margin-right:auto;
margin-top: 20px;position: relative;
-moz-box-shadow: 3px 3px 2px rgba(0,0,0,.5);
-webkit-box-shadow: 3px 3px 2px rgba(0,0,0,.5);
box-shadow: 3px 3px 2px rgba(0,0,0,.5);
}
.pContainerBig{
min-height:120px;
width:98%; border: 1px solid #800000;
margin-left:auto; margin-right:auto;
margin-top: 20px;position: relative;
-moz-box-shadow: 3px 3px 2px rgba(0,0,0,.5);
-webkit-box-shadow: 3px 3px 2px rgba(0,0,0,.5);
box-shadow: 3px 3px 2px rgba(0,0,0,.5);
}
.km-android .pContainerBig{
margin-top:20px;
margin-left:auto; margin-right:auto;
}
.pProfileImg{
width:100px; height: 100px; border-right: 1px solid #800000; 
position: relative; float: left;
background-repeat:no-repeat;
background-position:center;

-webkit-background-size: cover; /*for webKit*/
-moz-background-size: cover; /*Mozilla*/
-o-background-size: cover; /*opera*/
background-size: cover; /*generic*/
}
.pName{
margin-left: 100px ;
height: 30px;
font-size: 12pt;
padding-top: 5px;
padding-right: 24px;
text-align: left;
color: #FFF;
background: #800000;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}
.km-android .pName{
margin-top:0px;
width: 163px;
}
.pTwitterImg{
position: absolute; 
margin-top:5px;
margin-left:5px;
}
    
.pTwitterImgB{
position: absolute; 
margin-top:5px;
margin-left:124px;
}


    
.pContent{
margin-left: 105px;
height: 30px;
font-size: 12pt;
padding-top: 5px;
padding-left: 24px;
text-align: left;
color: #000;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}
.pTwitter{
margin-top: -15px;
margin-left: 105px;
height: 30px;
font-size: 12pt;
padding-top: 5px;
padding-left: 34px;
text-align: left;
color: #000;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}
.km-android .pTwitter{
width:120px;
}
.pWebsite{
margin-left: 105px;
height: 30px;
font-size: 9.5pt;
padding-top: 5px;
padding-left: 2px;
text-align: left;
color: #000;
overflow: hidden;
text-overflow: ellipsis;
}
.km-android .pWebsite{
width:180px;
}
.pProfileImgB{
width:120px; height: 120px; 
border-right: 1px solid #800000; 
border-bottom: 1px solid #800000; 
position: relative; float: left;
background-repeat:no-repeat;
background-position:center;

-webkit-background-size: cover; /*for webKit*/
-moz-background-size: cover; /*Mozilla*/
-o-background-size: cover; /*opera*/
background-size: cover; /*generic*/
}
.pContentB{
font-size: 9.5pt;
padding: 5px;
text-align: justify;
text-justify: inter-word;
color: #000;
}
.pNameB{
margin-left: 100px ;
height: 50px;
font-size: 12pt;
padding-top: 5px;
padding-right: 24px;
padding-left: 5px;
text-align: left;
color: #FFF;
background: #800000;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}
.km-android .pNameB{
margin-top:0px;
width: 163px;
}
.pWebsiteB{
margin-left: 125px;
height: 30px;
font-size: 9.5pt;
padding-top: 5px;
padding-left: 2px;
text-align: left;
color: #000;
overflow: hidden;
text-overflow: ellipsis;
}
.km-android .pWebsiteB{
width: 180px;
}
.displayWebsite{
margin-top:15px;
height:35px;
display:none;
}
.displayTwitter{
margin-top:15px;
height:25px;
display:none;
}