/* -- RESET CSS -- */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body {background: #e3e2e0;}
.fullScreenBlank {position:absolute; width:100%; height:100%; background-image:url('../images/backgrounds/backgroundblank.png');background-repeat:no-repeat;background-position:left bottom;}
.fullScreenCCC {position:absolute; width:100%; height:100%; background-image:url('../images/backgrounds/backgroundCCC.png');background-repeat:no-repeat;background-position:left bottom;}

.twoby {width:40%; margin:5%; height:115px; float:left;background:red; background-size: 100%;}
.twoby.frontMenu {width:100px; margin:0px auto; }

.km-android .km-view .km-content {color:#000; background-color: #F1F1F1;}
.km-ios .km-view .km-content {color:#000; background-color: #F1F1F1;}
.km-ios .km-view .km-navbar {background: url(../images/navbar/header.png);height:42px ;-webkit-box-shadow: -1px 2px 4px 1px #575757;} /*NOTICE THE SHADOW EFFECT   Left ,Top ,Blur Dist, Spread Dist */ 


/* -- KENDO BUTTON OVERRIDE -- */
.km-ios .km-view .km-navbar .km-button.km-state-active .km-text {
     color:#FFF; 
}
.km-ios .km-view .km-navbar .km-button .km-text {
    color:#FFF; 
}
.km-ios .km-view .km-navbar .km-button {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #074779),color-stop(49%, #074779), color-stop(50%, #063559), color-stop(100%, #063559));
}
.km-ios .km-view .km-navbar .km-button:before {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #074779),color-stop(49%, #074779), color-stop(50%, #063559), color-stop(100%, #063559));
}
.km-ios .km-view .km-navbar .km-button.km-state-active {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1663b2), color-stop(49%, #12579c), color-stop(50%, #0d3d6e), color-stop(100%, #0b345d));
}
.km-ios .km-view .km-navbar .km-button.km-state-active:before {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1663b2), color-stop(49%, #12579c), color-stop(50%, #0d3d6e), color-stop(100%, #0b345d));
}
